@model HHI_InspectionSoftware.Inspection

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Inspection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InspectionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspectionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Address1)
        </dd>

        <dt>
            @Html.DisplayName("Customer")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FirstName)
            @Html.DisplayFor(model => model.Customer.LastName)
        </dd>

        <dt>
            @Html.DisplayName("Inspector")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inspector.FirstName)
            @Html.DisplayFor(model => model.Inspector.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InspectionStatus.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspectionStatus.Name)
        </dd>

        <dt>
            @Html.DisplayName("Realtor")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Realtor.FirstName)
            @Html.DisplayFor(model => model.Realtor.LastName)
        </dd>

        <dt>
            @Html.DisplayName("Template")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Template.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
