@model HHI_InspectionSoftware.Inspection

@{
    ViewBag.Title = "Details";
}

<h2>Inspection Details</h2>

<div>
    <h4>Inspection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Inspection Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspectionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayName("Address")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Address1)
            @Html.DisplayFor(model => model.Address.City)
            @Html.DisplayFor(model => model.Address.State)
            @Html.DisplayFor(model => model.Address.Zip)
        </dd>

        <dt>
            @Html.DisplayName("Customer")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FirstName)
            @Html.DisplayFor(model => model.Customer.LastName)
        </dd>

        <dt>
            @Html.DisplayName("Inspector")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inspector.FirstName)
            @Html.DisplayFor(model => model.Inspector.LastName)
        </dd>

        <dt>
            @Html.DisplayName("Inspection Status")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspectionStatus.Name)
        </dd>

        <dt>
            @Html.DisplayName("Realtor")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Realtor.FirstName)
            @Html.DisplayFor(model => model.Realtor.LastName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
