@model IEnumerable<HHI_InspectionSoftware.Inspection>

@{
    ViewBag.Title = "Index";
}

<h2>Inspection Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Customers")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Inspection Date")
        </th>
        <th>
            @Html.DisplayName("Address")
        </th>
        <th>
            @Html.DisplayName("Customer")
        </th>
        <th>
            @Html.DisplayName("Inspector")
        </th>
        <th>
            @Html.DisplayName("Inspection Status")
        </th>
        <th>
            @Html.DisplayName("Realtor")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InspectionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address.Address1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.FirstName)
            @Html.DisplayFor(modelItem => item.Customer.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inspector.FirstName)
            @Html.DisplayFor(modelItem => item.Inspector.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InspectionStatus.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Realtor.FirstName)
            @Html.DisplayFor(modelItem => item.Realtor.LastName)
        </td>
        <td>
            $ @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
